
.env
.env.*
!.env.example

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
tfplan.binary
crash.log
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Misc
.DS_Store
task-def.json
new-task-def.json
